@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: redHatText;
  src: url("../assets/font/RedHatText-Regular.ttf");
  font-display: swap;
}

@layer base {
  body {
    @apply bg-softPeach font-redHatText;
  }
}

@layer components {
  .add_cart {
    @apply absolute left-1/2 top-[13rem] w-5/6 -translate-x-1/2 rounded-full border-[1px] px-5 py-4 lg:top-[220px];
  }

  .quantity {
    @apply cursor-pointer self-center rounded-full border-[1px] fill-vistaWhite p-1 transition duration-300 ease-in-out hover:bg-vistaWhite hover:fill-tiaMaria;
  }
}
