@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: redHatText;
  src: url("../assets/font/RedHatText-Regular.ttf");
  font-display: swap;
}

@layer base {
  body {
    @apply font-redHatText bg-softPeach;
  }
}
